.container
  form(method='post',action='/test/douban_user').form-horizontal.hero-unit
    input(type='text',name='pair[token]',value=pair['token'])
    input(type='text',name='pair[tokenSecret]',value=pair['tokenSecret'])
    input(type='submit')submit

