.container
  div.hero-unit.shafa
    p
      h1 
        沙发-客
    blockquote
      p
        一张柔软的沙发；一位陌生的朋友；一段不同的旅程；
      p
        安静的索求，安静的接待，安静的告别；
      p
        正如安静的人生。
  .row
    .span5.offset1
      ul
        li 
          |someone have a shafa at someplace 
        li
          |someone have a shafa at someplace 
        li
          |someone have a shafa at someplace 
      .btn.btn-danger.span1.offset1
        供
    .span5
      ul
        li 
          |someone need a shafa at someplace on saturday
        li
          |someone need a shafa at someplace on saturday
        li
          |someone need a shafa at someplace on saturday
      .btn.btn-success.span1.offset1
        求
  hr
  footer
    © qieluobo.com 2012
