.container
  #content.content
    div.hero-unit.shafa
      p
        h1 
          沙发-客
      blockquote
        p
          一张柔软的沙发，一位陌生的朋友，
        p
          一段不同的旅途；
        p
          安静的接待，安静的告别；
        p
          正如安静的人生。
    .row
      .span5.offset1
        ul
          li 
            |someone have a shafa at someplace 
          li
            |someone have a shafa at someplace 
          li
            |someone have a shafa at someplace 
        .btn.btn-danger.span2.offset1
          可接待
      .span5
        ul
          li 
            |someone need a shafa at someplace on saturday
          li
            |someone need a shafa at someplace on saturday
          li
            |someone need a shafa at someplace on saturday
        .btn.btn-success.span2.offset1
          我想求
  hr
  footer
    © qieluobo.com 2012
