!!!
html
  head
    title="求沙发"
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheep', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/main.css')
  body
    div.navbar
      div.navbar-inner
        div.container
          a.brand(href='#') 求沙发
          div.nav-collapse
            ul.nav
              li.active
                a(href='#')
                  i.icon-search.icon-white
            ul.nav.pull-right
              li 
                a(href="#") 
                  i.icon-user.icon-white
              li
                a(href="/logout")
                  i.icon-off.icon-white
    !=body
  link(rel='javascript',href='/js/bootstrap.min.js')
